{% extends "base.html" %}

{% block content %}
    <div id="morecustomers">
        <div class="container">
            <h3 align="center">Some Favorites</h3>
            <div class="row">
            <div class="col-md-4" align="center">
                <h2>Books</h2>
                <p>Reading takes you on a special journey through the soul.</p>
            </div><!--end col-md-4-->
            <div class="col-md-4" align="center">
                <h2>Quotes</h2>                
                <p>Our daily mantras to help us manage and prosper in life.</p>
            </div><!--end col-md-4-->
            <div class="col-md-4" align="center">
                <h2>Social Media</h2>
                <p>Keeping in touch with friends and family around the world.</p>
            </div><!--end col-md-4-->
            </div><!---end /.row-->
        </div><!-- en /.container-->
    </div><!--- /.morecustomers-->
{% endblock %}
